/* Define a custom font */
@font-face {
    font-family: "BebasNeue";
    src: url("BebasNeue-Regular.ttf");
}

/* Style for elements with class="meeting_data" */
.meeting_data {
    color: hsla(240, 100%, 50%, 0.5);
    margin: 10px 10px 10px 10px;
}


/* Style for elements with id="header"*/
#header {
    margin-top: 1cm;
    margin-bottom: 0.3in;
    margin-left: 10mm;
    margin-right: 10mm;
}


/* Style for all elements */
@media (min-width: 50rem) {
    * {
        background-color: aquamarine;
    }
}

/* Style for h1 elements */
h1 {
    font-family: "BebasNeue";
    color: rgb(124, 3, 175);
    position: static;
}

/* Style for main elements */
main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

/* Style for footer elements */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "item item item";
}

/* Style for a elements with href="https://maze.co/blog/ui-vs-ux/" */
a[href="https://maze.co/blog/ui-vs-ux/"] {
    margin: auto;
}

/* Style for h1 elements that are being hovered over */
h1:hover {
    height: 10vh;
    width: 70vw;
    max-width: 90vw;
    min-width: 50vw;
}

/* Style for a elements that are being clicked */
a:active {
    color: darkgreen;
}


/* Style for div and section elements */
div,
section {
    padding-top: 3vh;
    padding-bottom: 3vmin;
    padding-left: 3vw;
    padding-right: 3vw;
    position: sticky;
}

/* Style for h1 elements with an ancestor of body */
body h1 {
    border-style: groove;
    border-color: firebrick;
    border-width: 4px;
    border-radius: 10px;
}

/* Style for elements with id="header" with a direct parent of header */
header > #header {
    text-align: center;
    text-decoration: underline;
}

/* Style for label elements which are siblings of input elements */
input ~ label {
    display: inline-block;
}

/* Style for p elements that immediately follow input elements */
input + p {
    display: block;
}


/* Style for h3 elements with class="meeting_data"*/
h3.meeting_data {
    padding: 3px 3px 3px 3px;
}
